.mainPage{
  align-items: center;
  display: flex;
  flex-direction: column;
}
.pageName{
  font-size: 3rem;
  margin-bottom: 2.6rem;
}

.stringInsert{
  display: flex;
  gap: 3;
  align-items: center;
  margin-bottom: 1.5rem;
}
.pasteString{
  color: #f0f0f0;
  font-size: 600;
}

.imageGroup{
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.relativeGroup{
  position: relative; 
}
.insideImage{
  cursor: cell;
  object-fit: contain;
}
.deleteImage{
  position: relative;
  bottom: 20px;
  right: 60px;
  background: #000;
  color: #fff;
  border-radius: 10px;
  width: 7;
  height: 7;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0.2;
  transition: 0.6s;
}
.deleteImage:hover{
  background: #f00;
  opacity: 1;
}

.modalShow{
  position: fixed;
  align-items: center;
  justify-content: center;
  background: #00000088;
  inset: 5px;
}
.modalImg{
  max-width: 90%;
  max-height: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}