.mainPage{
  align-items: center;
  display: flex;
  flex-direction: column;
}
.pageName{
  font-size: 3rem;
  margin-bottom: 2.6rem;
}

.switchButton{
  background: #000;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 0.8rem 1.2rem;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 2rem;
  transition: 0.4s;
}

.stringInsert{
  display: flex;
  gap: 3;
  align-items: center;
  margin-bottom: 1.5rem;
}
.pasteString{
  color: #f0f0f0;
  font-size: 600;
}

.deleteImage{
  position: relative;
  bottom: 20px;
  right: 60px;
  background: #000;
  color: #fff;
  border-radius: 10px;
  width: 7;
  height: 7;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0.2;
  transition: 0.6s;
}
.deleteImage:hover{
  background: #f00;
  opacity: 1;
}

.selectedImage{
  position: fixed;
  background: #00000088;
  inset: 5px;
  align-content: center;
}
.openedImage{
  max-width: 95%;
  max-height: 95%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}